<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>

    <faculty-list></faculty-list>

    <a href="/faculties/new"><paper-button raised>Add Faculty</paper-button></a>
  </body>
</html>
