<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>

    <h1>Faculties</h1>
    <% if (faculties.length) { %>
    	<ul>
    	<% faculties.forEach(function(faculty) { %>
    		<li><%= faculty.name %></li>
    	<% }) %>
    	</ul>
    <% } else { %>
    	<h1>No faculties</h1>
    <% } %>

    <a href="/faculties/new"><paper-button raised>Add Faculty</paper-button></a>
  </body>
</html>
