<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>

	<div class="container">
    	<faculty-form class="form-card"></faculty-form>
    </div>
	
</body>
</html>