<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>

	<div class="container">
    	<department-form faculties="[[ <%= faculties %> ]]" class="layout horizontal form-card"></department-form>
    </div>
	
</body>
</html>