<paper-toolbar>
  <div class="title">UWI Discover</div>
  <a href="/faculties"><paper-button>Faculties</paper-button></a>
  <a href="/departments"><paper-button>Departments</paper-button></a>
  <a href="/sessions"><paper-button>Sessions</paper-button></a>
  <a href="/sessions"><paper-button>Projects</paper-button></a>
</paper-toolbar>